<!-- CABECERA DE SECCIÓN -->
      <p class="display-4 text-center bg-dark text-white animated fadeIn fast">
        CONTACTO
      </p>
      <hr>
      <!-- FORMULARIO -->
      <div class="row justify-content-center animated fadeIn">
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <form>
              <label>Nombre:</label>
              <input class="form-control" type="text" name="name">
              <label>Apellidos</label>
              <input class="form-control" type="text" name="lastname">
              <label>Descripción:</label>
              <textarea class="form-control"></textarea>
              <div class="mt-3 text-right">
                <input class="btn btn-info"  type="submit" value="Enviar" />
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <h3 class="bg-info rounded p-2 text-white">Contacta con nosotros</h3>
          <p>
            Tú eres lo más importante para nosotros. Estaremos 24h al día disponibles
            para solucionar cualquiera de tus dudas.
          </p>
        </div>
      </div>
